<div class="container">
<h2> Latest Products</h2>
   <div class="row">
       <div class="col-sm-4" *ngFor="let pro of proData">
        <div class="card" style="width: 18rem;">
           
            <div class="card-body">
              <h5 class="card-title">{{pro.pname}}</h5>
              <p class="card-text">Price : Rs.{{pro.price}} <br/>
                 Quantity : {{pro.quantity}}  
            </p>
              <button class="btn btn-danger" (click)="delpro(pro.id)"> Delete</button>
            </div>
          </div>
       </div>
   </div>
</div>